*{
    margin: 0;
    padding: 0;
}
#navbar div h4{
    font-size: 1rem;
    font-weight:900;
}

#navbar div input ,#navbar div button , #navbar div a{
    font-size: .8rem;
}
#navbar div input ,#navbar div button{
    width: 5rem;
}
div textarea{
    width: 20rem;
}